FileUploaderWCFServiceSolution/WindowsAppForSearchingWords/Service References/ServiceReference1/FileUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileUploader" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55860/FileUploader.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55860/FileUploader.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55860/FileUploader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:55860/FileUploader.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55860/FileUploader.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BasicWCF.Required_Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileUploader_StoreTheFile_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreTheFile" />
  </wsdl:message>
  <wsdl:message name="IFileUploader_StoreTheFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreTheFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileUploader_RetrieveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFile" />
  </wsdl:message>
  <wsdl:message name="IFileUploader_RetrieveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileUploader">
    <wsdl:operation name="StoreTheFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUploader/StoreTheFile" message="tns:IFileUploader_StoreTheFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUploader/StoreTheFileResponse" message="tns:IFileUploader_StoreTheFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUploader/RetrieveFile" message="tns:IFileUploader_RetrieveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUploader/RetrieveFileResponse" message="tns:IFileUploader_RetrieveFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileUploader" type="tns:IFileUploader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreTheFile">
      <soap:operation soapAction="http://tempuri.org/IFileUploader/StoreTheFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFile">
      <soap:operation soapAction="http://tempuri.org/IFileUploader/RetrieveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploader">
    <wsdl:port name="BasicHttpBinding_IFileUploader" binding="tns:BasicHttpBinding_IFileUploader">
      <soap:address location="http://localhost:55860/FileUploader.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>