FileUploaderWCFServiceSolution/WindowsFormsApplication1/Service References/ServiceReference1/FileUploader3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicWCF.Required_Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicWCF.Required_Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSelectedFilesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedFilesDetails" nillable="true" type="tns:SelectedFilesDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectedFilesDetails" nillable="true" type="tns:ArrayOfSelectedFilesDetails" />
  <xs:complexType name="SelectedFilesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="searchedWords" nillable="true" type="tns:ArrayOfWords" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedFilesDetails" nillable="true" type="tns:SelectedFilesDetails" />
  <xs:complexType name="ArrayOfWords">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Words" nillable="true" type="tns:Words" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWords" nillable="true" type="tns:ArrayOfWords" />
  <xs:complexType name="Words">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:int" />
      <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Words" nillable="true" type="tns:Words" />
</xs:schema>